---
interface Props {
	title: string;
	description: string;
	url: string;}

const { title, description, url } = Astro.props;
---

<div class='card w-96 bg-secondary text-primary-content border'>
  <div class='card-body'>
    <h2 class='card-title'>{title}</h2>
    <p>{description}</p>
    <div class='card-actions justify-end'>
      <a href={url} class='link link-neutral'>Visitar</a>
    </div>
  </div>
</div>
